
#baner
{
	background-color: #829EB9;
	height: 50px;
	font-family: Arial;
	text-align: center;
	
	
}
#panel_lewy
{
	background-color: #B3C6D9;
	height: 600px;
	width: 25%;
	float: left;

	
}
#panel_prawy
{
	background-color: #E0E9F1;
	height: 600px;
	width: 100%;
	text-align: center;
	
	
}
#stopka
{
	background-color: #829EB9;
    font-family: Arial;
	text-align: right;

}
#ob
{
	margin: 30px;
	padding: 10px;
	border:dashed 2px #B3C6D9;
}
table
{
	margin:30px;
	border: solid 2px;
	width: 70%;
	
}
td:hover
{
	background-color:blue;
	color: white;
}
th
{
	background-color:#B3C6D9;
	border:2px solid;
}
td
{
	border:2px solid;
}
span
{
	margin:30px
}
#d1
{
	
	font-size:18px;
	color:blue;
	
}





